:root {
    --main-background: #1d2731;
    --second-background: #0b3c5d;
    --skyblue: #328cc1;
    --gold-color: #d9b310;
    --white-color: #FAFAFA;
    --grey-color: #abb4bb;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--main-background);
    color: var(--white-color);
}

body{
    
    min-height: 100vh;
    max-width: 100vw;
    background-color: var(--main-background);
    color: var(--white-color);
}
.span-grey{
    color: var(--grey-color);
}
.span-gold{
    color: var(--gold-color);
}

footer p, footer i, footer a, footer{
    background-color: var(--second-background);
}

@media only screen and (min-width: 770px) {
    .main-container{
        display: flex;
        justify-content: center;
    }

    .lateral-izq h1, .lateral-izq h4{
        margin-top: 1.4rem;
    }

    .lateral-izq img, .lateral-izq h1{
        margin-bottom: 1rem;
    }
    .lateral-izq hr{
        display: none;
    }
}

/* --- Animaciones --- */
.efecto-escritura{
    display: block;
    margin: auto;
    white-space: nowrap;
    width: 23ch;

    animation: typing 4s steps(23);
    overflow: hidden;
}

@keyframes typing{
    from { width: 0}
}