:root {
    --main-background: #1d2731;
    --second-background: #0b3c5d;
    --skyblue: #328cc1;
    --gold-color: #d9b310;
    --white-color: #FAFAFA;
    --grey-color: #abb4bb;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--main-background);
    color: var(--white-color);
}

body{
    
    min-height: 100vh;
    max-width: 100vw;
    background-color: var(--main-background);
    color: var(--white-color);
}
.span-grey{
    color: var(--grey-color);
}

footer p, footer i, footer a, footer{
    background-color: var(--second-background);
}

@media only screen and (min-width: 760px) {
    .main-container{
        display: flex;
        justify-content: center;
    }
}